@media screen and (max-width:1600px){
    .login-container img{
        width: 500px;
    }
    #logo-icono{
        width: 500px;
    }

    .slideshow-banner{
        margin: 5rem 0 3rem 0;
    }

    .main-em-container{
        width:85%;
    }
/*
    .section-game-edited canvas{
        width: 900px !important;
        height: 500px !important;
    }*/


}

@media screen and (max-width:1440px){

    #logo-icono{
        width: 440px;
    }

    .section-game-edited{
        margin-bottom: 4rem;
    }

    .login-container{
        width: 80%;
    }

    .login{
        margin: 0;
    }

    .video-container iframe{
        margin-right: 4rem;
    }

    #menu-links{
        padding:5em 1em 5em 1em;
    }

    .time-container{
        width: 80%;
    }

    .gifs-container img{
        width: 350px;
    }
/*
    .section-game-edited canvas{
        width: 800px !important;
        height: 440px !important;
    }*/
}

@media screen and (max-width:1280px){

    :root{    
        --main-font-size-titles:32px;
        --main-font-size-parrafos:16px;
        --main-font-size-parrafos-pequeños:13px;
        --main-font-size-subtitulos:27px;
    }

    .login-container img{
        width: 450px;
    }

    .login form{
        padding: 2em;
    }

    #menu-links{
        padding: 5em 0 5em 0;
    }

    .menu-container ul{
        padding: 3em 2em 3em 2em;
    }

    .video-container iframe{
        width: 700px;
        height: 350px;
        margin-right: 2rem;
    }
/*
    .section-game-edited canvas{
        width: 700px !important;
        height: 400px !important;
    }*/
}
/* LOGIN */